@model IEnumerable<Nhom14_ChuDu.Models.KhachSan>
@{
    ViewBag.Title = "TimKhachSan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="detail_hotel">
    <div class="container">
        <div class="hotel-of-city">
            @{
                var count = Model.Count();
                if (count == 0)
                {
                    <div style="font-family:Arial;font-size:20px; color:#888;text-align:center;">Không có khách sạn cần tìm</div>
                }
                else
                {
                    <p style="font-family:Arial; font-size:20px;color:#888; font-weight:500;">Danh sách khách sạn tìm kiếm là:</p>
                }
            }
            @foreach (var item in Model)
            {
                <div class="container-hotel">
                    <div class="hotel-mg">
                        <div class="left-container">
                            @{
                                string ImagePath = "~/Image/Khách sạn/" + item.Anh;
                            }
                            <img class="w-100" src="@Url.Content(ImagePath)" alt="#">
                        </div>
                        <div class="right-container">
                            <h4 style="font-weight: 500;">@item.Ten</h4>
                            <p style="color: #666; font-size: 13px;">@item.DiaChi</p>
                            <p style="color: #666; font-size: 13px;">@item.MoTa</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

