
@{
    ViewBag.Title = "Khuyến mãi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Content.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
</head>
<body>
    <div class="container">
        <div class="content__container">
            <section class="main__content">
                <div class="main__nav">
                    <ul>
                        <li><a href="">Du lịch Cần Thơ</a></li>
                        <li><a href="">Du Lịch Đà Nẵng</a></li>
                        <li><a href="">Du Lịch Nha Trang</a></li>
                        <li><a href="">Du Lịch Phú Quốc</a></li>
                        <li><a href="">Xu hướng Du Lịch</a></li>
                        <li><a href="">Đi Đâu Mùa Này</a></li>
                    </ul>
                    <header class="main__header">
                        <h1>Vinpearl – Giảm sốc đến 55% + Tặng voucher siêu hấp dẫn</h1>
                    </header>
                </div>
                <div class="social">
                    <a href="" class="social__button facebook">
                        <i class="ti-facebook"></i> | Chia sẻ Facebook
                    </a>
                    <a href="" class="social__button twitter">
                        <i class="ti-twitter-alt"></i> | Tweet
                    </a>
                    <a href="" class="social__button ggplus"><i class="ti-google"></i></a>
                    <a href="" class="social__button pinterest"><i class="ti-pinterest"></i></a>
                </div>
                <div class="content">
                    <p>
                        Nào cùng nghỉ dưỡng 5* sang chảnh với ưu đãi giảm sốc 55% Vinpearl 2021.
                        Chuỗi thương hiệu Vinpearl với khuyến mãi giảm hơn nửa giá và tặng kèm nhiều voucher hấp dẫn là cơ hội mà bạn không được
                        bỏ lỡ cho chuyến du lịch sắp tới của mình. Liên hệ
                        <strong><a href="https://www.chudu24.com/">đặt phòng</a></strong>
                        ngay qua hotline Chudu24 – 1900 5454 40 để được tư vấn viên thông tin chi tiết.
                    </p>
                    <img src="https://www.chudu24.com/wp-content/uploads/2021/03/GW01.jpg" alt="">
                    <figcaption class="wp-caption-text">
                        Cận cảnh Grand World – Phú Quốc United Center |
                        Thành phố “không ngủ” dự kiến khai trương ngày 21/04/2021
                    </figcaption>
                    <h3 style="text-align: center;"><strong>PHÚ QUỐC</strong></h3>
                    <h5>
                        <span style="text-decoration: underline;">
                            <strong>
                                *** ĐIỀU KIỆN ÁP DỤNG CHUNG TẠI KHU VỰC PHÚ QUỐC:
                            </strong>
                        </span>
                    </h5>
                    <p>
                        – Thời gian đặt từ nay đến&nbsp;<strong>
                            30.09.2021<br>
                        </strong>– Thời gian ở đến&nbsp;30.09.2021<br>
                        – Áp dụng cho thị trường khách Việt Nam và khách nước ngoài có giấy trú hành tại Việt Nam.<br>
                        – Không kết hợp đồng thời với các khuyến mãi khác.<br>
                        – Khuyến mãi áp dụng với số lượng phòng có hạn và&nbsp;tùy thuộc vào công suất phòng&nbsp;của khách sạn
                    </p>
                    <p><span style="text-decoration: underline;"><strong>*** CHƯƠNG TRÌNH ƯU ĐÃI 1:</strong></span></p>
                    <p><strong>Mừng khai trương Grand World – Gồm Ăn sáng + Tặng phiếu quà tặng trị giá 500.000vnđ/phòng/đêm</strong></p>
                    <p>
                        –&nbsp;<a href="https://khachsan.chudu24.com/ks.5070.vinoasis-phu-quoc-resort.html">VinOasis Phú Quốc</a>: Giá chỉ từ 1.750.000vnđ/phòng/đêm<br>
                        –&nbsp;<a href="https://khachsan.chudu24.com/ks.2298.vinpearl-phu-quoc-resort-spa.html">Vinpearl Phú Quốc&nbsp;Resort &amp; Spa</a>: Giá chỉ từ 2.065.000vnđ/phòng/đêm<br>
                        –&nbsp;<a href="https://khachsan.chudu24.com/ks.2298.vinpearl-phu-quoc-resort-spa.html">Vinpearl Discovery Greenhill Phú Quốc</a> (Discovery 3): Giá chỉ từ&nbsp;3.675.000vnđ/phòng/đêm<br>
                        –&nbsp;<a href="https://khachsan.chudu24.com/ks.3230.vinpearl-discovery-wonderworld-phu-quoc-discovery-1.html">Vinpearl Discovery Wonderworld Phú Quốc</a> (Discovery 1): Giá chỉ từ&nbsp;3.885.000vnđ/phòng/đêm<br>
                        –&nbsp;<a href="https://khachsan.chudu24.com/ks.3251.vinpearl-discovery-coastalland-phu-quoc-discovery-2.html">Vinpearl Discovery Coastalland Phú Quốc</a> (Discovery 2): Giá chỉ từ&nbsp;3.885.000vnđ/phòng/đêm
                    </p>
                    <p><strong>Bao gồm:</strong></p>
                    <p>
                        – Ăn Sáng<br>
                        – Đối với khách hàng lưu trú từ 21.04 đến 30.09.2021: được tặng phiếu quà tặng trị giá 500.000vnđ/phòng ngủ/đêm dùng để ăn uống, mua sắm tại khu Grand World.<br>
                        – Đặt từ 02 đêm: Miễn phí đưa đón sân bay cho số khách theo tiêu chuẩn phòng<br>
                        – Miễn phí nhận phòng sớm, trả phòng muộn (Tùy theo tình trạng phòng của khách sạn)<br>
                        – Miễn phí sử dụng hồ bơi, phòng tập thể dục<br>
                        – Miễn phí sử dụng wifi, Internet<br>
                        – Miễn phí trà, cà phê, nước suối theo tiêu chuẩn phòng<br>
                        – Thuế VAT<br>
                        – Phí Dịch Vụ
                    </p>
                    <p><span style="text-decoration: underline;"><strong>*** CHƯƠNG TRÌNH ƯU ĐÃI 2:</strong></span></p>
                    <p><strong>Vinholidays Fiesta Phú Quốc (VinHolidays 1)</strong></p>
                    <pre><strong>Thông tin đặt phòng:</strong>
                        - Tại Website Chudu24 theo link: <strong><a href="https://khachsan.chudu24.com/ks.6489.vinholidays-fiesta-phu-quoc-vinholidays-1.html">Vinholidays Fiesta Phú Quốc</a></strong>
                        - Đặt qua hotline: 1900 5454 40 hoặc email: datphong@chudu24.com</pre>
                    <p>* Mừng khai trương Grand World – Gồm Ăn sáng + Tặng phiếu quà tặng trị giá 300.000vnđ/phòng/đêm: Giá chỉ từ&nbsp;980.000vnđ/phòng/đêm</p>
                    <p>* Mừng khai trương Grand World – Không Ăn sáng + Tặng phiếu quà tặng trị giá 200.000vnđ/phòng/đêm: Giá chỉ từ 805.000vnđ/phòng/đêm</p>
                    <p><strong>&nbsp;</strong><strong>Bao gồm:</strong></p>
                    <p>
                        – Đối với khách hàng lưu trú từ 21.04 đến 30.09.2021: được tặng phiếu quà tặng trị giá&nbsp;200.000vnđ/phòng/đêm cho gói không ăn sáng hoặc 300.000vnđ/phòng ngủ/đêm cho gói ăn sáng&nbsp;dùng để ăn uống, mua sắm tại khu Grand World.<br>
                        – Miễn phí nhận phòng sớm, trả phòng muộn (Tùy theo tình trạng phòng của khách sạn)<br>
                        – Miễn phí sử dụng hồ bơi, phòng tập thể dục<br>
                        – Miễn phí sử dụng wifi, Internet<br>
                        – Miễn phí trà, cà phê, nước suối theo tiêu chuẩn phòng<br>
                        – Thuế VAT<br>
                        – Phí Dịch Vụ
                    </p>
                    <h3 style="text-align: center;"><strong>NHA TRANG</strong></h3>
                    <p><strong>&nbsp;Vinpearl Condotel Beachfront Nha Trang</strong></p>
                    <pre><strong>Thông tin đặt phòng:</strong>
                        - Tại Website Chudu24 theo link: <strong><a href="https://khachsan.chudu24.com/ks.5602.vinpearl-condotel-beachfront-nha-trang.html">Vinpearl Condotel Beachfront Nha Trang</a>
                        </strong>- Đặt qua hotline: 1900 5454 40 hoặc email: datphong@chudu24.com</pre>
                    <p><em>Tham khảo chi tiết nội dung ưu đãi&nbsp;<a href="https://www.chudu24.com/thongtindulich/2021/02/18/uu-dai-vinpearl-condotel-beachfront-nha-trang/" data-saferedirecturl="https://www.google.com/url?q=https://www.chudu24.com/thongtindulich/2021/02/18/uu-dai-vinpearl-condotel-beachfront-nha-trang/&amp;source=gmail&amp;ust=1617244945424000&amp;usg=AFQjCNEwGuoWg-JUkupmU0ZRRd18ZfBs2Q">tại đây</a>.</em></p>
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Không ăn sáng</td>
                                <td>Ăn sáng</td>
                                <td>Ăn sáng + Vui chơi VinWonders</td>
                            </tr>
                            <tr>
                                <td>Giá từ (vnđ/phòng/đêm)</td>
                                <td>1.176.000</td>
                                <td>1.343.000</td>
                                <td>1.674.000</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p style="text-align: center;">
                        <em>
                            Chương trình ưu đãi giảm sốc 55% Vinpearl 2021 có thể kết thúc sớm trước thời hạn.
                            Vui lòng liên hệ 1900 5454 40 để được tư vấn chi tiết.
                        </em>
                    </p>
                </div>
                <div class="td-post-source-tags">
                    <div class="td-post-source-via ">
                        <div class="td-post-small-box">
                            <span>NGUỒN</span><a rel="nofollow" href="#">Thông tin khuyến mãi</a>
                        </div>
                    </div>
                    <ul class="td-tags td-post-small-box clearfix">
                        <li><span>TAGS</span></li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/du-lich-nha-trang/">du lịch nha trang</a></li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/du-lich-phu-quoc/">du lịch Phú Quốc</a></li>
                        <li>
                            <a href="https://www.chudu24.com/thongtindulich/tag/dat-phong-khach-san/">đặt phòng khách sạn</a>
                        </li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/grand-world-phu-quoc/">Grand World phu quốc</a></li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/khuyen-mai-vinpearl/">khuyến mãi vinpearl</a></li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/uu-dai-vinpearl/">ưu đãi vinpearl</a></li>
                        <li><a href="https://www.chudu24.com/thongtindulich/tag/vinpearl/">Vinpearl</a></li>
                    </ul>
                </div>
                <div class="post-share">
                    <span class="td-post-share-title">CHIA SẺ</span>
                    <div class="social">
                        <a href="" class="social__button facebook">
                            <i class="ti-facebook"></i> | Chia sẻ Facebook
                        </a>
                        <a href="" class="social__button twitter">
                            <i class="ti-twitter-alt"></i> | Tweet
                        </a>
                        <a href="" class="social__button ggplus"><i class="ti-google"></i></a>
                        <a href="" class="social__button pinterest"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </section>
            <section class="slidebar">
                <div class="clearfix">
                    <h4 class="block-title"><span>Tổng quan Du lịch Phú Quốc</span></h4>
                </div>
                <div>
                    <a href="https://www.chudu24.com/thongtindulich/2016/12/27/du-lich-phu-quoc/" rel="bookmark" title="Cẩm nang du lịch Phú Quốc"><img width="324" height="235" class="entry-thumb" src="https://www.chudu24.com/wp-content/uploads/2016/12/du-lich-phu-quoc-kinh-nghiem-va-thong-tin-huu-ich20-324x235.jpg" alt="" title="Cẩm nang du lịch Phú Quốc"></a>
                    <h3 class="entry-title"><a href="https://www.chudu24.com/thongtindulich/2016/12/27/du-lich-phu-quoc/" rel="bookmark" title="Cẩm nang du lịch Phú Quốc">Cẩm nang du lịch Phú Quốc</a></h3>
                    <a class="btn" title="Đặt phòng khách sạn Phú Quốc" href="https://khachsan.chudu24.com/t.phu-quoc.html" target="_blank" rel="noopener noreferrer">Đặt phòng khách sạn Phú Quốc</a>
                </div>
            </section>
        </div>
    </div>
</body>
</html>


