@model IEnumerable<Nhom14_ChuDu.Models.ThanhPho>
<div class="main-tp">
    <div class="container">
        <div style="width:100%; background-color: #e8e8e8; display:flex; justify-content:center; padding:50px 0px 30px 0px;">
            <div style="width: 100%; color:#666; font-family:Arial; font-weight:400; font-size:18px;">
                <p style="color:#666; font-family:Arial; font-weight:400; font-size:18px;">TOP ĐIỂM ĐẾN</p>
                <div style="width: 50px; margin-left:0px;margin-top:20px; height: 3px; background-color: #86b817;"></div>
            </div>
        </div>
        <div class="bg">
            <div class="container-item bot">
                <div class="row">
                    @foreach (var item in Model)
                    {
                    <div class="col-3">
                        <div class="item-khachsan">
                            <a href="#">
                                <div class="product-img">
                                    @{
                                        string ImagePath = "~/Image/Tỉnh thành/" + item.Anh;
                                    }
                                    <img class="w-100" src="@Url.Content(ImagePath)" alt="">
                                </div>
                                <p class="tinh">@Html.DisplayFor(modelItem => item.Ten)</p>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

