<div class="bg-action"></div>
<div class="container-contact">
    <div class="top">
        <p>Liên hệ</p>
        <button class="hide-contact" onclick="remove_contact()"><i class="fas fa-times"></i></button>
    </div>
    <div class="bot">
        <div class="row-1">
            <h3>GỌI CHO CHÚNG TÔI</h3>
            <p>ông Trần Đức Huy: <strong style="color: #000;">094 823 7976</strong></p>
            <p>ông Nguyễn Tiến Huy: <strong style="color: #000;">096 863 7831</strong></p>
            <p>ông Bùi Hữu Dũng: <strong style="color: #000;">0396 583 696</strong></p>
            <p style="font-style: italic;">Thời gian hoạt động: Từ 8h-20h (T2-T6) và 8h-17h (T7+CN)</p>
            <h3>GHÉ THĂM VĂN PHÒNG CHUDU24</h3>
            <p>Đại học Công Nghiệp Hà Nội</p>
            <h3>KẾT NỐI VỚI CHUDU24</h3>
            <p style="display: flex; align-items: center;"><i class="fab fa-facebook-square"></i></p>
        </div>
    </div>
</div>

