<div class="search">
    <div class="search-container">
        <div class="left">
            <div class="city-search">
                <p>Thành phố</p>
                <select class="select-city">
                    <option value="" selected disabled hidden>Chọn thành phố</option>
                </select>
            </div>
            <div class="hotel-search">
                <p>Khách sạn</p>
                <input type="text" placeholder="Nhập tên khách sạn" />
            </div>
            <div class="button-search">
                <button type="submit">TÌM KIẾM<i style="margin-left: 5px;" class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="right">
            <p style="color: #4790cd; font-weight: 600; margin-bottom: 5px; font-size: 17px;">Niềm vui của Chudu24</p>
            <p style="color: #000; font-weight: 600; margin-bottom: 5px;">Bùi Thị Lan Hương</p>
            <p style="color: #777; margin-bottom: 5px;">14 - 01 - 2021</p>
            <p style="font-style: italic; color: #777; margin-bottom: 10px; margin: 0px 20px;line-height: 20px; text-align: center;">"Cảm ơn bạn Loan Chudu24 đã nhiệt tình tư vấn và hỗ trợ."</p>
            <p style="margin-right: -200px;"><a href="#">Xem toàn bộ đánh giá</a></p>
        </div>
    </div>
</div>