<div style="margin-bottom:50px;" class="slider__main">
    <div class="container">
        <div class="Campaigns">
            <div class="main-ul">
                <ul class="nav-featured">
                    <li class="active"><a title="Top khuyến mãi" href="#" style="border-bottom-color: rgb(134, 184, 23);">Top khuyến mãi <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Top Siêu Sang" href="#" style="border-bottom-color: rgb(119, 119, 119);">Top Siêu Sang <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Vũng Tàu - Nha Trang" href="#" style="border-bottom-color: rgb(119, 119, 119);">Vũng Tàu - Nha Trang <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Phú Quốc - Đà Lạt" href="#" style="border-bottom-color: rgb(119, 119, 119);">Phú Quốc - Đà Lạt <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Côn Đảo - Sài Gòn" href="#" style="border-bottom-color: rgb(119, 119, 119);">Côn Đảo - Sài Gòn <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Ninh Thuận - Cần Thơ" href="#" style="border-bottom-color: rgb(119, 119, 119);">Ninh Thuận - Cần Thơ <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Du lịch Phan Thiết" href="#" style="border-bottom-color: rgb(119, 119, 119);">Du lịch Phan Thiết <i class="fas fa-chevron-right"></i></a></li>
                    <li class=""><a title="Vinpearl-Accor-Marriott" href="#" style="border:none;">Vinpearl-Accor-Marriott <i class="fas fa-chevron-right"></i></a></li>
                </ul>
            </div>
            <div class="mega-content">
                <ul class="div-sub-menu">
                    <li>
                        <a href="#" target="_blank">CỰC SHOCK! Vinpearl Sale Đến 55%!</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Top Siêu Phẩm Biệt Lập 'Đỉnh Của Chóp'</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">'Chanh sả' hết nấc ở top resort siêu sang</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Gia đình vui hè - Miễn phí trẻ em</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Sống ảo cực chất ở các resort Vũng Tàu</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Check-in siêu đẹp ở 7 resort Nha Trang xịn</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Top Hotel Đà Lạt 'Chanh Sả' Cực Cool</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Phú Quốc | 7 resort ngắm biển tuyệt đẹp</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Phan Thiết | Sale sốc giảm sâu - Đặt ngay</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Top Hotel Sài Gòn 4 - 5* được ưa chuộng</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Về Cần Thơ - Nghỉ dưỡng cực thích</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-right">
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="~/Image/360x433-bo-suu-tap-3.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/Image/360x433-top-resort-sieu-sang-4.jpg" style="width:100%">
                </div>
                <div class="mySlides">
                    <img src="~/Image/360x433-Tron-goi-he-gd---Mien-phi-tre-em--4.jpg" style="width:100%">
                </div>
                <div style="text-align:center; position: absolute; top: 95%; left: 45%;">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="img-right">
                <img src="//du-lich.chudu24.com/f/m/1910/07/banner-vinpearl-178x433-1-hoang-my-1147212.png" alt="" title="Vinpearl - Khach san &amp; Resort"/>
            </div>
        </div>
    </div>
</div>
<script>
    var slideIndex = 0;
    showSlides();
    function showSlides() {
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");

        if (slideIndex > slides.length - 1) { slideIndex = 0 }

        if (slideIndex == 0) {
            dots[0].classList.value = "dot active_dot";
            dots[1].classList.value = "dot";
            dots[2].classList.value = "dot";
            slides[0].classList.value = 'mySlides active';
            slides[1].classList.value = "mySlides right";
            slides[2].classList.value = "mySlides left";
        }
        if (slideIndex == 1) {
            dots[1].classList.value = "dot active_dot";
            dots[2].classList.value = "dot";
            dots[0].classList.value = "dot";
            slides[1].classList.value = 'mySlides active';
            slides[2].classList.value = "mySlides right";
            slides[0].classList.value = "mySlides left";
        }
        if (slideIndex == 2) {
            dots[2].classList.value = "dot active_dot";
            dots[0].classList.value = "dot";
            dots[1].classList.value = "dot";
            slides[2].classList.value = 'mySlides active';
            slides[0].classList.value = "mySlides right";
            slides[1].classList.value = "mySlides left";
        }

        slideIndex++;
        setTimeout(showSlides, 2000);
    }
</script>
